<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /shoeshop/
    
    # Loại trừ các file và thư mục thực sự tồn tại
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Chuyển hướng tất cả request đến index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>